* {
    
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
    --colorgris : rgb(72, 88, 111);
    --colorcrema : #ffffc0;
    --colorbeige : #d6c496;
    --colorrojo : rgb(214, 46, 46);
    --colortopo : #283d3e;
    font-family: 'Ubuntu', sans-serif;
}

.page-transition {
   
    transition: ease-in-out 0.5s;
  }
  

body{
    background-color: var(--colorbeige);
    background-image: url(assets/logot.png);
    background-size: 400px;
    background-attachment: fixed;
    background-blend-mode: color-dodge;
    

}

header {
    background-color: var(--colorgris);
    color: var(--colorcrema);
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    padding: 0 0% 0 10%;
    align-items: center;
    width: auto;
    
    
}

nav{
    display: flex;
    margin: auto;
    float: right;
    flex-wrap: wrap;
    
    
}

h1 {
    text-align: center;
    padding-right: 4%;
}

nav ul{
    display: flex;
    flex-wrap: wrap;

    
}

nav li{
    background-color: var(--colorrojo);
    list-style: none;
    text-align: center;
    padding: 8px;
    
   
   
    
}

nav li:hover{
    background-color: var(--colorbeige);
    transition: ease-in-out 0.4s;
    border-radius: 3px;

    
}

nav li a{
    color: var(--colorcrema);
    text-decoration: none;
}
nav li a:hover{
    color: var(--colortopo);
    
}

nav div {

    padding-left: 100px;
    text-align: center;
}

nav div img:hover {
    transform: scale(1.1);
    transition: ease-in-out 0.4s;
    
}

header img {
    width: 90px;
   
}

#cart img {
    position: absolute;
    width: 40px;
    height: fit-content;
    top: 30px;
    right: 60px;
   
}



footer{
    background-color: var(--colorgris);
    color: var(--colorcrema);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 3rem;
    flex-wrap: wrap;
}




  