:root{
    font-size: 16px;
}
div{
    border: 1px solid black;
}
#padre{
    width: 100%;
    height: 500px;
    padding: 0;
    background-color: rgb(235, 163, 201);
    display: flex;
    justify-content: space-evenly;

    
    
}
.hijo{
    width: 100px;
    height: 100px;
    background-color: bisque;
}

#nuevo{
    width: 350px;
    height: 150px;
    background-color: aquamarine;
    display: flex;
    justify-content: flex-start;

}

#hijo2{
    align-self: center;
}
